* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #FFA200;
  font-family: lato;
  color: white;
  text-transform: lowercase;
}

#app {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

#reportaLogo {
  display: none;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  -webkit-animation: rotate 4s infinite; /* Safari 4+ */
  -webkit-animation-timing-function: linear;
}

#reportaLogo-fast {
  display: none;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  -webkit-animation: rotate 1s infinite; /* Safari 4+ */
  -webkit-animation-timing-function: linear;
}

.visible {
  display: inline !important;
}

@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.speech {
  margin-top: 20px;
  margin-bottom: 20px;
}

.media {
  padding: 30px;
}
.media img {
  width: 100%;
}
.user-speech {
  text-align: right;
  color: #FDDD90;
  font-size: 1.2em;
}

.reporta-speech {
  text-align: left;
  font-size: 1.5em;
}

.timeline-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.timeline-leave.timeline-leave-active {
  opacity: 0.01;
}

.timeline-enter {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}
.timeline-enter.timeline-enter-active {
  opacity: 1;
}

.memory-enter {
  opacity: 0.01;
  transition: opacity 1.5s ease-in;
}

.memory-enter.memory-enter-active {
  opacity: 1;
}

.articles {
  border: 1px solid #FF6300;
  border-radius: 30px;
  background-color: #FF6300;
  font-size: 0.8em;
  margin: 50px;
  padding: 30px;
}

.articles a {
  text-decoration: none;
  color: white;
}

#login {
  text-align: center;
}
#login input {
  margin: 0 auto;
}
